
  "{{ name }}" = {
{%- if assignment_order %}
    assignment_order = "{{ assignment_order }}"
{%- endif %}
{%- if ipv4_blocks %}
    ipv4_blocks      = {
  {%- for item in ipv4_blocks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'from' %}
        from = "{{ v }}"
      {%- elif k == 'size' %}
        size = {{ v }}
      {%- elif k == 'to' %}
        # to   = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    ipv4_blocks      = {}
{%- endif %}
{%- if ipv4_configuration %}
    ipv4_config      = {
      config = {
  {%- for k, v in ipv4_configuration.items() %}
    {%- if k == 'gateway' %}
        gateway       = "{{ v }}"
    {%- elif k == 'prefix' %}
        network       = "{{ v }}"
    {%- elif k == 'primary_dns' %}
        primary_dns   = "{{ v }}"
    {%- elif k == 'secondary_dns' %}
        secondary_dns = "{{ v }}"
    {%- endif %}
  {%- endfor %}
      }
    }
{%- else %}
    ipv4_config      = {}
{%- endif %}
{%- if ipv6_blocks %}
    ipv6_blocks      = {
  {%- for item in ipv6_blocks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'from' %}
        from = "{{ v }}"
      {%- elif k == 'size' %}
        size = {{ v }}
      {%- elif k == 'to' %}
        # to   = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    ipv6_blocks      = {}
{%- endif %}
{%- if ipv6_configuration %}
    ipv6_config      = {
      config = {
  {%- for k, v in ipv6_configuration.items() %}
    {%- if k == 'gateway' %}
        gateway       = "{{ v }}"
    {%- elif k == 'prefix' %}
        prefix        = {{ v }}
    {%- elif k == 'primary_dns' %}
        primary_dns   = "{{ v }}"
    {%- elif k == 'secondary_dns' %}
        secondary_dns = "{{ v }}"
    {%- endif %}
  {%- endfor %}
      }
    }
{%- else %}
    ipv6_configs     = {}
{%- endif %}
    organization     = "{{ org }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags             = []
{%- endif %}
  }