
  "{{ name }}" = {
{%- if assignment_order %}
    assignment_order   = "{{ assignment_order }}"
{%- endif %}
    organization       = "{{ org }}"
{%- if pool_type %}
    pool_type          = "{{ pool_type }}"
{%- endif %}
{%- if resource_type %}
    resource_type      = "{{ resource_type }}"
{%- endif %}
    serial_number_list = {{ serial_number_list }}
{%- if server_type %}
    server_type        = "{{ server_type }}"
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}"
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags             = []
{%- endif %}
  }