
  "{{ name }}" = {
{%- if assignment_order %}
    assignment_order = "{{ assignment_order }}"
{%- endif %}
    prefix           = "{{ prefix }}"
{%- if uuid_blocks %}
    uuid_blocks = {
  {%- for item in uuid_blocks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'from' %}
        from = "{{ v }}"
      {%- elif k == 'size' %}
        size = {{ v }}
      {%- elif k == 'to' %}
        # to   = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    uuid_blocks = {}
{%- endif %}
    organization     = "{{ org }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags             = []
{%- endif %}
  }