
  "{{ name }}" = {
{%- if assignment_order %}
    assignment_order = "{{ assignment_order }}"
{%- endif %}
{%- if wwpn_blocks %}
    id_blocks        = {
  {%- for item in wwpn_blocks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'from' %}
        from = "{{ v }}"
      {%- elif k == 'size' %}
        size = {{ v }}
      {%- elif k == 'to' %}
        # to   = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    id_blocks        = {}
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags             = []
{%- endif %}
  }