
  "{{ name }}" = {
    boot_mode          = "{{ boot_mode }}"
    description        = "{{ descr }}"
{%- if enable_secure_boot %}
    enable_secure_boot = {{ enable_secure_boot|lower }}
{%- else %}
    enable_secure_boot = false
{%- endif %}
    organization       = "{{ org }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
    boot_devices = {
{%- for item in boot_devices %}
      "{{ item['device_name'] }}" = {
  {%- if item['device_type'] == 'iscsi_boot' and boot_mode == 'Uefi' %}
    {%- if item['bootloader_description'] %}
        bootloader_description = "{{ item['bootloader_description'] }}",
    {%- else %}
        bootloader_description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
        bootloader_name        = "{{ item['bootloader_name'] }}",
    {%- else %}
        bootloader_name        = "BOOTx64.EFI",
    {%- endif %}
    {%- if item['bootloader_path'] %}
        bootloader_path        = "{{ item['bootloader_path'] }}",
    {%- else %}
        bootloader_path        = "\\EFI\\BOOT\\",
    {%- endif %}
    {%- if item['enabled'] %}
        enabled                = {{ item['enabled']|lower }}
    {%- else %}
        enabled                = true
    {%- endif %}
        InterfaceName          = "{{ item['interface_name'] }}",
        object_type            = "boot.Iscsi"
    {%- if item['port'] %}
        Port                   = {{ item['port'] }},
    {%- else %}
        Port                   = 0,
    {%- endif %}
        Slot                   = "{{ item['slot'] }}"
  {%- elif item['device_type'] == 'iscsi_boot' %}
    {%- if item['enabled'] %}
        enabled       = {{ item['enabled']|lower }}
    {%- else %}
        enabled       = true
    {%- endif %}
        InterfaceName = "{{ item['interface_name'] }}",
    {%- if item['port'] %}
        Port          = {{ item['port'] }},
    {%- else %}
        Port          = 0,
    {%- endif %}
        object_type   = "boot.Iscsi"
        Slot          = "{{ item['slot'] }}"
  {%- elif item['device_type'] == 'local_cdd' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
        object_type = "boot.LocalCdd"
  {%- elif item['device_type'] == 'local_disk' and boot_mode == 'Uefi' %}
    {%- if item['bootloader_description'] %}
        bootloader_description = "{{ item['bootloader_description'] }}",
    {%- else %}
        bootloader_description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
        bootloader_name        = "{{ item['bootloader_name'] }}",
    {%- else %}
        bootloader_name        = "BOOTx64.EFI",
    {%- endif %}
    {%- if item['bootloader_path'] %}
        bootloader_path        = "{{ item['bootloader_path'] }}",
    {%- else %}
        bootloader_path        = "\\EFI\\BOOT\\",
    {%- endif %}
    {%- if item['enabled'] %}
        enabled                = {{ item['enabled']|lower }}
    {%- else %}
        enabled                = true
    {%- endif %}
        object_type            = "boot.LocalDisk"
        Slot                   = "{{ item['slot'] }}"
  {%- elif item['device_type'] == 'local_disk' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
        object_type = "boot.LocalDisk"
        Slot        = "{{ item['slot'] }}"
  {%- elif item['device_type'] == 'nvme' and boot_mode == 'Uefi' %}
    {%- if item['bootloader_description'] %}
        bootloader_description = "{{ item['bootloader_description'] }}",
    {%- else %}
        bootloader_description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
        bootloader_name        = "{{ item['bootloader_name'] }}",
    {%- else %}
        bootloader_name        = "BOOTx64.EFI",
    {%- endif %}
    {%- if item['bootloader_path'] %}
        bootloader_path        = "{{ item['bootloader_path'] }}",
    {%- else %}
        bootloader_path        = "\\EFI\\BOOT\\",
    {%- endif %}
    {%- if item['enabled'] %}
        enabled                = {{ item['enabled']|lower }}
    {%- else %}
        enabled                = true
    {%- endif %}
        object_type           = "boot.Nvme"
  {%- elif item['device_type'] == 'nvme' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
        object_type = "boot.Nvme"
  {%- elif item['device_type'] == 'pch_storage' and boot_mode == 'Uefi' %}
    {%- if item['bootloader_description'] %}
        bootloader_description = "{{ item['bootloader_description'] }}",
    {%- else %}
        bootloader_description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
        bootloader_name        = "{{ item['bootloader_name'] }}",
    {%- else %}
        bootloader_name        = "BOOTx64.EFI",
    {%- endif %}
    {%- if item['bootloader_path'] %}
        bootloader_path        = "{{ item['bootloader_path'] }}",
    {%- else %}
        bootloader_path        = "\\EFI\\BOOT\\",
    {%- endif %}
    {%- if item['enabled'] %}
        enabled                = {{ item['enabled']|lower }}
    {%- else %}
        enabled                = true
    {%- endif %}
    {%- if item['lun'] %}
        Lun                    = {{ item['lun'] }}
    {%- else %}
        Lun                    = 0
    {%- endif %}
        object_type            = "boot.PchStorage"
  {%- elif item['device_type'] == 'pch_storage' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
    {%- if item['lun'] %}
        Lun         = {{ item['lun'] }}
    {%- else %}
        Lun         = 0
    {%- endif %}
        object_type = "boot.PchStorage"
  {%- elif item['device_type'] == 'pxe_boot' %}
    {%- if item['enabled'] %}
        enabled         = {{ item['enabled']|lower }}
    {%- else %}
        enabled         = true
    {%- endif %}
        InterfaceName   = "{{ item['interface_name'] }}",
        InterfaceSource = "{{ item['interface_source'] }}",
    {%- if item['ip_type'] %}
        IpType          = "{{ item['ip_type'] }}",
    {%- else %}
        IpType          = "None",
    {%- endif %}
        MacAddress      = "{{ item['mac_address'] }}",
        object_type     = "boot.Pxe"
    {%- if item['port'] %}
        Port            = {{ item['port'] }},
    {%- else %}
        Port            = -1,
    {%- endif %}
        Slot            = "{{ item['slot'] }}"
  {%- elif item['device_type'] == 'san_boot' and boot_mode == 'Uefi' %}
    {%- if item['bootloader_description'] %}
        bootloader_description = "{{ item['bootloader_description'] }}",
    {%- else %}
        bootloader_description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
        bootloader_name        = "{{ item['bootloader_name'] }}",
    {%- else %}
        bootloader_name        = "BOOTx64.EFI",
    {%- endif %}
    {%- if item['bootloader_path'] %}
        bootloader_path        = "{{ item['bootloader_path'] }}",
    {%- else %}
        bootloader_path        = "\\EFI\\BOOT\\",
    {%- endif %}
    {%- if item['enabled'] %}
        enabled                = {{ item['enabled']|lower }}
    {%- else %}
        enabled                = true
    {%- endif %}
        InterfaceName          = "{{ item['interface_name'] }}",
    {%- if item['lun'] %}
        Lun                    = {{ item['lun'] }},
    {%- else %}
        Lun                    = 0,
    {%- endif %}
        object_type            = "boot.San"
        Port                   = 0,
        Slot                   = "{{ item['slot'] }}",
        Wwpn                   = "{{ item['target_wwpn'] }}"
  {%- elif item['device_type'] == 'san_boot' %}
    {%- if item['enabled'] %}
        enabled       = {{ item['enabled']|lower }}
    {%- else %}
        enabled       = true
    {%- endif %}
        InterfaceName = "{{ item['interface_name'] }}",
    {%- if item['lun'] %}
        Lun           = {{ item['lun'] }},
    {%- else %}
        Lun           = 0,
    {%- endif %}
        object_type   = "boot.San"
        Slot          = "{{ item['slot'] }}",
        Wwpn          = "{{ item['target_wwpn'] }}"
  {%- elif item['device_type'] == 'sd_card' and boot_mode == 'Uefi' %}
    {%- if item['bootloader_description'] %}
        bootloader_description = "{{ item['bootloader_description'] }}",
    {%- else %}
        bootloader_description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
        bootloader_name        = "{{ item['bootloader_name'] }}",
    {%- else %}
        bootloader_name        = "BOOTx64.EFI",
    {%- endif %}
    {%- if item['bootloader_path'] %}
        bootloader_path        = "{{ item['bootloader_path'] }}",
    {%- else %}
        bootloader_path        = "\\EFI\\BOOT\\",
    {%- endif %}
    {%- if item['enabled'] %}
        enabled                = {{ item['enabled']|lower }}
    {%- else %}
        enabled                = true
    {%- endif %}
    {%- if item['lun'] %}
        Lun                    = {{ item['lun'] }},
    {%- else %}
        Lun                    = 0,
    {%- endif %}
        object_type            = "boot.SdCard"
        Subtype                = "{{ item['subtype'] }}"
  {%- elif item['device_type'] == 'sd_card' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
    {%- if item['lun'] %}
        Lun         = {{ item['lun'] }},
    {%- else %}
        Lun         = 0,
    {%- endif %}
        object_type = "boot.SdCard"
        Subtype     = "{{ item['subtype'] }}"
  {%- elif item['device_type'] == 'uefi_shell' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
        object_type = "boot.UefiShell"
  {%- elif item['device_type'] == 'usb' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
        object_type = "boot.Usb"
        Subtype     = "{{ item['subtype'] }}"
  {%- elif item['device_type'] == 'virtual_media' %}
    {%- if item['enabled'] %}
        enabled     = {{ item['enabled']|lower }}
    {%- else %}
        enabled     = true
    {%- endif %}
        object_type = "boot.VirtualMedia"
        Subtype     = "{{ item['subtype'] }}"
  {%- endif %}
      },
{%- endfor %}
    }
  }
