
  "{{ name }}" = {
    certificate  = "{{ certificate }}"
    description  = "{{ descr }}"
{%- if enabled %}
    enabled      = {{ enabled|lower }}
{%- else %}
    enabled      = true
{%- endif %}
    organization = "{{ org }}"
    private_key  = "{{ private_key }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }