
  "{{ name }}" = {
    adapter_template = "{{ policy_template }}"
    description      = "{{ descr }}"
{%- if tags %}
    tags         = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags = []
{%- endif %}
  }
