
  "{{ name }}" = {
{%- if target_platform == 'FIAttached' and burst %}
    burst                 = {{ burst }}
{%- endif %}
{%- if target_platform == 'Standalone' and cos %}
    cos                   = {{ cos }}
{%- endif %}
    description           = "{{ descr }}"
    enable_trust_host_cos = {{ enable_trust_host_cos|lower }}
{%- if target_platform == 'FIAttached' and priority %}
    priority              = "{{ priority }}"
{%- endif %}
{%- if mtu %}
    mtu                   = {{ mtu }}
{%- else %}
    mtu                   = 1500
{%- endif %}
    rate_limit            = {{ rate_limit }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                  = []
{%- endif %}
  }