
  "{{ name }}" = {
{%- if default_vlan %}
    default_vlan_id = {{ default_vlan }}
{%- else %}
    default_vlan_id = 0
{%- endif %}
    description     = "{{ descr }}"
    vsan_id         = {{ vsan_id }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags            = []
{%- endif %}
  }