
  "{{ name }}" = {
    description                       = "{{ descr }}"
    error_detection_timeout           = 2000
{%- for k, v in error_recovery_settings.items() %}
  {%- if k == 'enable_fcp_error_recovery' %}
    enable_fcp_error_recovery         = {{ v|lower }}
  {%- elif k == 'io_retry_timeout' %}
    error_recovery_io_retry_timeout   = {{ v }}
  {%- elif k == 'link_down_timeout' %}
    error_recovery_link_down_timeout  = {{ v }}
  {%- elif k == 'port_down_io_retry' %}
    error_recovery_port_down_io_retry = {{ v }}
  {%- elif k == 'port_down_timeout' %}
    error_recovery_port_down_timeout  = {{ v }}
  {%- endif %}
{%- endfor %}
    flogi_retries                     = {{ flogi_retries }}
    flogi_timeout                     = {{ flogi_timeout }}
{%- for k, v in interrupt_settings.items() %}
  {%- if k == 'interrupt_mode' %}
    interrupt_mode                    = "{{ v }}"
  {%- endif %}
{%- endfor %}
    io_throttle_count                 = {{ io_throttle_count }}
{%- if lun_queue_depth %}
    lun_queue_depth                   = {{ lun_queue_depth }}
{%- else %}
    lun_queue_depth                   = 20
{%- endif %}
    max_luns_per_target               = {{ max_luns_per_target }}
    organization                      = "{{ org }}"
    plogi_retries                     = {{ plogi_retries }}
    plogi_timeout                     = {{ plogi_timeout }}
    resource_allocation_timeout       = 10000
    receive_ring_size                 = {{ receive_ring_size }}
    scsi_io_queue_count               = {{ scsi_io_queue_count }}
    scsi_io_ring_size                 = {{ scsi_io_ring_size }}
    transmit_ring_size                = {{ transmit_ring_size }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                              = []
{%- endif %}
  }