#__________________________________________________________
#
# Terraform Cloud Variables
#__________________________________________________________

tfc_organization        = "{{ tfc_organization }}"
ws_pools                = "{{ ws_pools }}"
ws_ucs_chassis_profiles = "{{ ws_ucs_chassis_profiles }}"
ws_ucs_domain_profiles  = "{{ ws_ucs_domain_profiles }}"
ws_ucs_server_profiles  = "{{ ws_ucs_server_profiles }}"

/*
  We highly recommend that for the terraform_cloud_token you use an environment variable for input:
  - export TF_VAR_terraform_cloud_token="abcdefghijklmnopqrstuvwxyz.0123456789"
  If you still want to move forward with it in this file, uncomment the line below, and input your value.
*/
# terraform_cloud_token = "value"
/*
  We highly recommend that for the tfc_oath_token you use an environment variable for input; Like:
  - export TF_VAR_tfc_oath_token="abcdefghijklmnopqrstuvwxyz.0123456789"
  If you still want to move forward with it in this file, uncomment the line below, and input your value.
*/
# tfc_oath_token = "value"


#__________________________________________________________
#
# Intersight Variables
#__________________________________________________________

# endpoint     = "https://intersight.com"
organizations = ["{{org}}"]

# secretkey    = "~/intersight.secret"
/*
  To export the Secret Key via an Environment Variable the format is as follows (Note: they are not quotation marks, but escape characters):
  - export TF_VAR_secretkey=`cat ../../intersight.secret`
  Either way will work in this case as we are not posting the contents of the file here.
*/
/*
  We highly recommend that for the apikey you use an environment variable for input:
  - export TF_VAR_apikey="abcdefghijklmnopqrstuvwxyz.0123456789"
*/
# apikey = "value"

#__________________________________________________________
#
# Intersight Policy Variables
#__________________________________________________________

tags = {{ tags }}
