
  "{{ name }}" = {
    description            = "{{ descr }}"
    dhcp_timeout           = {{ dhcp_timeout }}
    lun_busy_retry_count   = {{ lun_busy_retry_count }}
    tcp_connection_timeout = {{ tcp_connection_timeout }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                   = []
{%- endif %}
  }