
  "{{ name }}" = {
{%- if chap %}
  authentication = "chap"
  {%- for k, v in chap.items() %}
    {%- if k == 'password' %}
    password     = {{ v }}
    {%- elif k == 'user_id' %}
    username     = "{{ v }}"
    {%- endif %}
  {%- endfor %}
{%- endif %}
{%- if mutual_chap %}
  authentication = "mutual_chap"
  {%- for k, v in mutual_chap.items() %}
    {%- if k == 'password' %}
    password     = {{ v }},
    {%- elif k == 'user_id' %}
    username     = "{{ v }}",
    {%- endif %}
  {%- endfor %}
{%- endif %}
    description         = "{{ descr }}"
{%- if dhcp_vendor_id_iqn %}
    dhcp_vendor_id_iqn  = "{{ dhcp_vendor_id_iqn }}"
{%- endif %}
    initiator_ip_pool   = "{{ ip_pool }}"
{%- if target_source_type == 'Auto' %}
    initiator_ip_source = "DHCP"
{%- else %}
    initiator_ip_source = "{{ initiator_ip_source }}"
{%- endif %}
{%- if initiator_static_ip_v4_config %}
    initiator_static_ip_v4_config = {
  {%- for k, v in initiator_static_ip_v4_config.items() %}
    {%- if k == 'default_gateway' %}
      default_gateway = "{{ v }}"
      ip_address      = "{{ ip_address }}"
    {%- elif k == 'primary_dns' %}
      primary_dns     = "{{ v }}"
    {%- elif k == 'secondary_dns' %}
      secondary_dns   = "{{ v }}"
    {%- elif k == 'subnet_mask' %}
      subnet_mask     = "{{ v }}"
    {%- endif %}
  {%- endfor %}
    }
{%- endif %}
    iscsi_adapter_policy    = "{{ iscsi_adapter_policy }}"
    organization            = "{{ org }}"
    primary_target_policy   = "{{ primary_target_policy }}"
    secondary_target_policy = "{{ secondary_target_policy }}"
    target_source_type      = "{{ target_source_type }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                    = []
{%- endif %}
  }