
  "{{ name }}" = {
    description  = "{{ descr }}"
    ip_address   = "{{ ip_address }}"
    port         = {{ port }}
{%- if lun %}
    lun = [
      {
  {%- if lun['bootable'] %}
        bootable = {{ lun['bootable']|lower }}
  {%- else %}
        bootable = true
  {%- endif %}
        lun_id   = {{ lun['lun_id'] }}
      }
    ]
{%- else %}
    lun          = []
{%- endif %}
    target_name  = "{{ target_name }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }