
  "{{ name }}" = {
{%- if always_send_user_password %}
    always_send_user_password = {{ always_send_user_password|lower }}
{%- else %}
    always_send_user_password = false
{%- endif %}
    description               = "{{ descr }}"
{%- if enable_password_expiry %}
    enable_password_expiry    = {{ enable_password_expiry|lower }}
{%- else %}
    enable_password_expiry    = false
{%- endif %}
{%- if enforce_strong_password %}
    enforce_strong_password   = {{ enforce_strong_password|lower }}
{%- else %}
    enforce_strong_password   = true
{%- endif %}
{%- if grace_period %}
    grace_period              = {{ grace_period }}
{%- else %}
    grace_period              = 0
{%- endif %}
{%- if notification_period %}
    notification_period       = {{ notification_period }}
{%- else %}
    notification_period       = 15
{%- endif %}
    organization              = "{{ org }}"
{%- if password_expiry_duration %}
    password_expiry_duration  = {{ password_expiry_duration }}
{%- else %}
    password_expiry_duration  = 90
{%- endif %}
{%- if password_history %}
    password_history          = {{ password_history }}
{%- else %}
    password_history          = 5
{%- endif %}
{%- if local_users %}
    users = {
  {%- for item in local_users %}
    {%- for k, v in item.items() %}
      {%- if k ==  'username' %}
      "{{ v }}" = {
      {%- endif %}
    {%- endfor %}
    {%- for k, v in item.items() %}
      {%- if k == 'enabled' %}
        enabled = {{ v|lower }}
      {%- elif k == 'password' %}
        password = {{ v }}
      {%- elif k ==  'role' %}
        role     = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    local_users         = {}
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }