
  "{{ name }}" = {
    description             = "{{ descr }}"
    querier_ip_address      = "{{ querier_ip_address }}"
    querier_ip_address_peer = "{{ querier_ip_address_peer }}"
    querier_state           = "{{ igmp_snooping_querier_state }}"
    snooping_state          = "{{ igmp_snooping_state }}"
{%- if tags %}
    tags                    = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                    = []
{%- endif %}
  }
