
  "{{ name }}" = {
    description            = "{{ descr }}"
    organization           = "{{ org }}"
    management_mode        = "{{ management_mode }}"
    # GOALS
{%- if memory_mode_percentage %}
    memory_mode_percentage = {{ memory_mode_percentage }}
{%- else %}
    memory_mode_percentage = 0
{%- endif %}
    persistent_memory_type = "{{ persistent_memory_type }}"
    # NAMESPACES
{%- if namespaces %}
    namespaces = {
  {%- for item in namespaces %}
    {%- for k, v in item.items() %}
      {%- if k == 'name' %}
      "{{ v }}" = {
      {%- endif %}
    {%- endfor %}
    {%- for k, v in item.items() %}
      {%- if k == 'capacity' %}
        capacity         = {{ v }}
      {%- elif k == 'mode' %}
        mode             = "{{ v }}"
      {%- elif k == 'socket_id' %}
        socket_id        = {{ v }}
      {%- elif k == 'socket_memory_id' %}
        socket_memory_id = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    namespaces         = {}
{%- endif %}
    retain_namespaces  = {{ retain_namespaces|lower }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                     = []
{%- endif %}
  }