
  "{{ name }}" = {
    description  = "{{ descr }}"
    device_model = "{{ device_model }}"
{%- if port_channel_appliances %}
    port_channel_appliances = {
  {%- for item in port_channel_appliances %}
      "{{ item['pc_id'] }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed                     = "{{ v }}"
      {%- elif k == 'ethernet_network_control_policy' %}
        ethernet_network_control_policy = "{{ v }}"
      {%- elif k == 'ethernet_network_group_policy' %}
        ethernet_network_group_policy   = "{{ v }}"
      {%- elif k == 'interfaces' and v|length > 0 %}
        interfaces = [
        {%- for i in v %}
          {
          {%- for key, value in i.items() %}
            {%- if key == 'aggr_id' %}
            breakout_port_id = {{ value }}
            {%- elif key == 'port_id' %}
            port_id          = {{ value }}
            {%- elif key == 'slot_id' %}
            slot_id          = {{ value }}
            {%- endif %}
          {%- endfor %}
          },
        {%- endfor %}
        ]
      {%- elif k == 'mode' %}
        mode     = "{{ v }}"
      {%- elif k == 'priority' %}
        priority = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_channel_appliances = {}
{%- endif %}
{%- if port_channel_ethernet_uplinks %}
    port_channel_ethernet_uplinks = {
  {%- for item in port_channel_ethernet_uplinks %}
      "{{ item['pc_id'] }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed                     = "{{ v }}"
      {%- elif k == 'ethernet_network_group_policy' %}
        ethernet_network_group_policy   = "{{ v }}"
      {%- elif k == 'flow_control_policy' %}
        flow_control_policy             = "{{ v }}"
      {%- elif k == 'interfaces' and v|length > 1 %}
        interfaces = [
        {%- for i in v %}
          {
          {%- for key, value in i.items() %}
            {%- if key == 'aggr_id' %}
            breakout_port_id = {{ value }}
            {%- elif key == 'port_id' %}
            port_id          = {{ value }}
            {%- elif key == 'slot_id' %}
            slot_id          = {{ value }}
            {%- endif %}
          {%- endfor %}
          },
        {%- endfor %}
        ]
      {%- elif k == 'link_aggregation_policy' %}
        link_aggregation_policy = "{{ v }}"
      {%- elif k == 'link_control_policy' %}
        link_control_policy     = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_channel_ethernet_uplinks = {}
{%- endif %}
{%- if port_channel_fc_uplinks %}
    port_channel_fc_uplinks = {
  {%- for item in port_channel_fc_uplinks %}
      "{{ item['pc_id'] }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed  = "{{ v }}"
      {%- elif k == 'fill_pattern' %}
        fill_pattern = "{{ v }}"
      {%- elif k == 'interfaces' and v|length > 1 %}
        interfaces = [
        {%- for i in v %}
          {
          {%- for key, value in i.items() %}
            {%- if key == 'aggr_id' %}
            breakout_port_id = {{ value }}
            {%- elif key == 'port_id' %}
            port_id          = {{ value }}
            {%- elif key == 'slot_id' %}
            slot_id          = {{ value }}
            {%- endif %}
          {%- endfor %}
          },
        {%- endfor %}
        ]
      {%- elif k == 'vsan_id' %}
        vsan_id = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_channel_fc_uplinks = {}
{%- endif %}
{%- if port_channel_fcoe_uplinks %}
    port_channel_fcoe_uplinks = {
  {%- for item in port_channel_fcoe_uplinks %}
      "{{ item['pc_id'] }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed = "{{ v }}"
      {%- elif k == 'interfaces' and v|length > 1 %}
        interfaces = [
        {%- for i in v %}
          {
          {%- for key, value in i.items() %}
            {%- if key == 'aggr_id' %}
            breakout_port_id = {{ value }}
            {%- elif key == 'port_id' %}
            port_id          = {{ value }}
            {%- elif key == 'slot_id' %}
            slot_id          = {{ value }}
            {%- endif %}
          {%- endfor %}
          },
        {%- endfor %}
        ]
      {%- elif k == 'link_aggregation_policy' %}
        link_aggregation_policy = "{{ v }}"
      {%- elif k == 'link_control_policy' %}
        link_control_policy     = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_channel_fcoe_uplinks = {}
{%- endif %}
{%- if port_modes %}
    port_modes = [
      {
  {%- for k, v in port_modes.items() %}
    {%- if k == 'custom_mode' %}
        custom_mode = "{{ v }}"
    {%- elif k == 'port_list' %}
        port_list   = {{ v }}
    {%- elif k == 'slot_id' %}
        slot_id     = {{ v }}
    {%- endif %}
  {%- endfor %}
      }
    ]
{%- else %}
    port_modes = []
{%- endif %}
{%- if port_role_appliances %}
    port_role_appliances = {
  {%- for item in port_role_appliances %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed                     = "{{ v }}"
      {%- elif k == 'aggr_id' %}
        breakout_port_id                = {{ v }}
      {%- elif k == 'ethernet_network_control_policy' %}
        ethernet_network_control_policy = "{{ v }}"
      {%- elif k == 'ethernet_network_group_policy' %}
        ethernet_network_group_policy   = "{{ v }}"
      {%- elif k == 'fec' %}
        fec                             = "{{ v }}"
      {%- elif k == 'mode' %}
        mode                            = "{{ v }}"
      {%- elif k == 'port_id' %}
        port_list                       = "{{ v }}"
      {%- elif k == 'priority' %}
        priority                        = "{{ v }}"
      {%- elif k == 'slot_id' %}
        slot_id                         = {{ v }}
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_role_appliances = {}
{%- endif %}
{%- if port_role_ethernet_uplinks %}
    port_role_ethernet_uplinks = {
  {%- for item in port_role_ethernet_uplinks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed                     = "{{ v }}"
      {%- elif k == 'aggr_id' %}
        breakout_port_id                = {{ v }}
      {%- elif k == 'ethernet_network_group_policy' %}
        ethernet_network_group_policy   = "{{ v }}"
      {%- elif k == 'fec' %}
        fec                             = "{{ v }}"
      {%- elif k == 'flow_control_policy' %}
        flow_control_policy             = "{{ v }}"
      {%- elif k == 'link_control_policy' %}
        link_control_policy             = "{{ v }}"
      {%- elif k == 'port_id' %}
        port_list                       = "{{ v }}"
      {%- elif k == 'slot_id' %}
        slot_id                         = {{ v }}
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_role_ethernet_uplinks = {}
{%- endif %}
{%- if port_role_fc_storage %}
    port_role_fc_storage = {
  {%- for item in port_role_fc_storage %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed      = "{{ v }}"
      {%- elif k == 'aggr_id' %}
        breakout_port_id = {{ v }}
      {%- elif k == 'port_id' %}
        port_list        = "{{ v }}"
      {%- elif k == 'slot_id' %}
        slot_id          = {{ v }}
      {%- elif k == 'vsan_id' %}
        vsan_id          = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_role_fc_storage = {}
{%- endif %}
{%- if port_role_fc_uplinks %}
    port_role_fc_uplinks = {
  {%- for item in port_role_fc_uplinks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed      = "{{ v }}"
      {%- elif k == 'aggr_id' %}
        breakout_port_id = {{ v }}
      {%- elif k == 'fill_pattern' %}
        fill_pattern     = "{{ v }}"
      {%- elif k == 'port_id' %}
        port_list        = "{{ v }}"
      {%- elif k == 'slot_id' %}
        slot_id          = {{ v }}
      {%- elif k == 'vsan_id' %}
        vsan_id          = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_role_fc_uplinks = {}
{%- endif %}
{%- if port_role_fcoe_uplinks %}
    port_role_fcoe_uplinks = {
  {%- for item in port_role_fcoe_uplinks %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'admin_speed' %}
        admin_speed         = "{{ v }}"
      {%- elif k == 'aggr_id' %}
        breakout_port_id    = {{ v }}
      {%- elif k == 'fec' %}
        fec                 = "{{ v }}"
      {%- elif k == 'link_control_policy' %}
        link_control_policy = "{{ v }}"
      {%- elif k == 'port_id' %}
        port_list           = "{{ v }}"
      {%- elif k == 'slot_id' %}
        slot_id             = {{ v }}
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_role_fcoe_uplinks = {}
{%- endif %}
{%- if port_role_servers %}
    port_role_servers = {
  {%- for item in port_role_servers %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'aggr_id' %}
        breakout_port_id    = {{ v }}
      {%- elif k == 'port_list' %}
        port_list           = "{{ v }}"
      {%- elif k == 'slot_id' %}
        slot_id             = {{ v }}
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    port_role_servers = {}
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }