
  "{{ name }}" = {
    description         = "{{ descr }}"
{%- if dynamic_power_rebalancing %}
    dynamic_power_rebalancing    = {{ dynamic_power_rebalancing }}
{%- else %}
    dynamic_power_rebalancing    = "Enabled"
{%- endif %}
{%- if power_allocation %}
    power_allocation    = {{ power_allocation }}
{%- else %}
    power_allocation    = 0
{%- endif %}
{%- if power_priority %}
    power_priority    = {{ power_priority }}
{%- else %}
    power_priority    = "Low"
{%- endif %}
{%- if power_profiling %}
    power_profiling     = "{{ power_profiling }}"
{%- else %}
    power_profiling     = "Enabled"
{%- endif %}
{%- if power_restore %}
    power_restore = "{{ power_restore }}"
{%- else %}
    power_restore = "LastState"
{%- endif %}
    power_redunancy     = "{{ power_redundancy }}"
{%- if power_save_mode %}
    power_save_mode = "{{ power_save_mode }}"
{%- else %}
    power_save_mode = "Enabled"
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                = []
{%- endif %}
  }