
  "{{ name }}" = {
    description          = "{{ descr }}"
    organization         = "{{ org }}"
{%- if target_platform == 'FI-Attached' %}
    target_platform             = "FIAttached"
{%- else %}
    target_platform             = "{{ target_platform }}"
{%- endif %}
{%- if vhba_placement_mode %}
    vhba_placement_mode  = "{{ vhba_placement_mode }}"
{%- else %}
    vhba_placement_mode  = "auto"
{%- endif %}
    wwnn_allocation_type = "{{ wwnn_allocation_type|upper }}"
    wwnn_static_address  = "{{ wwnn_static }}"
    wwnn_pool            = "{{ wwnn_pool }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                 = []
{%- endif %}
{%- if vhbas %}
    vhbas = {
  {%- for item in vhbas %}
    {%- for k, v in item.items() %}
      {%- if k == 'name' %}
      "{{ v }}" = {
      {%- endif %}
    {%- endfor %}
    {%- for k, v in item.items() %}
      {%- if k == 'fibre_channel_adapter_policy' %}
        fibre_channel_adapter_policy = "{{ v }}"
      {%- elif k == 'fibre_channel_network_policy' %}
        fibre_channel_network_policy = "{{ v }}"
      {%- elif k == 'fibre_channel_qos_policy' %}
        fibre_channel_qos_policy     = "{{ v }}"
      {%- elif k == 'name' %}
        name                         = "{{ v }}"
      {%- elif k == 'persistent_lun_bindings' %}
        persistent_lun_bindings      = "{{ v }}"
      {%- elif k == 'pci_link' %}
        placement_pci_link           = {{ v }}
      {%- elif k == 'pci_order' %}
        placement_pci_order          = {{ v }}
      {%- elif k == 'slot_id' %}
        placement_slot_id            = "{{ v }}"
      {%- elif k == 'uplink_port' %}
        placement_uplink_port        = "{{ v }}"
      {%- elif k == 'switch_id' %}
        placement_switch_id          = "{{ v }}"
      {%- elif k == 'vhba_type' %}
        vhba_type                    = "{{ v }}"
      {%- elif k == 'wwpn_allocation_type' %}
        wwpn_allocation_type         = "{{ v|upper }}"
      {%- elif k == 'wwpn_pool' %}
        wwpn_pool                    = "{{ v }}"
      {%- elif k == 'wwpn_static' %}
        wwpn_static_address          = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    vhbas                = {}
{%- endif %}
  }