
  "{{ name }}" = {
    baud_rate    = {{ baud_rate }}
{%- if com_port %}
    com_port     = "{{ com_port }}"
{%- else %}
    com_port     = "com1"
{%- endif %}
    description  = "{{ descr }}"
    enabled      = {{ enabled|lower }}
    ssh_port     = 2400
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }