
  "{{ name }}" = {
{%- if access_community_string %}
    access_community_string = {{ access_community_string }}
{%- endif %}
    description             = "{{ descr }}"
    enable_snmp             = {{ enabled|lower }}
    organization            = "{{ org }}"
    snmp_community_access   = "{{ community_access }}"
    snmp_engine_input_id    = "{{ engine_input_id }}"
{%- if port %}
    snmp_port               = {{ port }}
{%- else %}
    snmp_port               = 161
{%- endif %}
    system_contact          = "{{ system_contact }}"
    system_location         = "{{ system_location }}"
{%- if trap_community_string %}
    trap_community_string   = {{ trap_community_string }}
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
{%- if trap_destinations %}
    snmp_trap_destinations  = {
  {%- for item in trap_destinations %}
    {%- for k, v in item.items() %}
      {%- if k == 'destination_address' %}
      "{{ v }}" = {
      {%- endif %}
    {%- endfor %}
    {%- for k, v in item.items() %}
      {%- if k == 'community' %}
        community_string = 1,
      {%- elif k == 'enabled' %}
        enable           = {{ v|lower }},
      {%- elif k == 'port' %}
        port             = {{ v }},
      {%- elif k == 'trap_type' %}
        trap_type        = "{{ v }}",
      {%- elif k == 'user' %}
        user             = "{{ v }}",
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    snmp_trap_destinations  = {}
{%- endif %}
{%- if users %}
    snmp_users = {
  {%- for item in users %}
    {%- for k, v in item.items() %}
      {%- if k == 'name' %}
      "{{ v }}" = {
      {%- endif %}
    {%- endfor %}
    {%- for k, v in item.items() %}
      {%- if k == 'auth_password' %}
        auth_password    = {{ v }},
      {%- elif k == 'auth_type' %}
        auth_type        = "{{ v }}",
      {%- elif k == 'privacy_password' %}
        privacy_password = {{ v }},
      {%- elif k == 'privacy_type' %}
        privacy_type     = "{{ v }}",
      {%- elif k == 'security_level' %}
        security_level   = "{{ v }}",
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    snmp_users              = {}
{%- endif %}
  }