
  "{{ name }}" = {
    description  = "{{ descr }}"
    enable_ssh   = {{ enable_ssh|lower }}
{%- if ssh_port %}
    ssh_port     = {{ ssh_port }}
{%- else %}
    ssh_port     = 22
{%- endif %}
{%- if ssh_timeout %}
    ssh_timeout  = {{ ssh_timeout }}
{%- else %}
    ssh_timeout  = 1800
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }