
  "{{ name }}" = {
    description              = "{{ descr }}"
    global_hot_spares        = "{{ global_hot_spares }}"
    organization             = "{{ org }}"
{%- if unused_disks_state == 'JBOD' %}
    unused_disks_state       = "Jbod"
{%- elif unused_disks_state == 'No Change' %}
    unused_disks_state       = "NoChange"
{%- elif unused_disks_state == 'Unconfigured Good' %}
    unused_disks_state       = "UnconfiguredGood"
{%- elif unused_disks_state %}
    unused_disks_state       = "{{ unused_disks_state }}"
{%- endif %}
{%- if use_jbod_for_vd_creation %}
    use_jbod_for_vd_creation = {{ use_jbod_for_vd_creation|lower }}
{%- endif %}
{%- if drive_group %}
    drive_group = {
  {%- for item in drive_group %}
      "{{ item['drive_group_name'] }}" = {
    {%- for keys, values in item.items() %}
      {%- if keys == 'manual_drive_selection' %}
        manual_drive_group = {
        {%- for key, value in values.items() %}
          "{{ loop.index }}" = {
          {%- if key == 'dedicated_hot_spares' %}
            dedicated_hot_spares = "{{ value }}",
          {%- elif key == 'drive_array_spans' %}
              drive_array_spans = {
            {%- for itx in value %}
                "span_{{ loop.index }}" = {
              {%- for k, v in itx.items() %}
                  {{ k }} = "{{ v }}"
              {%- endfor %}
                }
            {%- endfor %}
              }
          {%- endif %}
          }
        {%- endfor %}
        }
      {%- elif keys == 'raid_level' %}
        raid_level = "{{ values|capitalize }}"
      {%- elif keys == 'virtual_drives' %}
        virtual_drives = {
        {%- for i in values %}
          "{{ i['vd_name'] }}" = {
          {%- for key, value in i.items()|sort %}
            {%- if key == 'access_policy' %}
              {%- if value == 'Read Only' %}
              access_policy       = "ReadOnly"
              {%- elif value == 'Read Write' %}
              access_policy       = "ReadWrite"
              {%- else %}
              access_policy       = "{{ value }}"
              {%- endif %}
            {%- elif key == 'boot_drive' %}
              boot_drive          = {{ value|lower }}
            {%- elif key == 'disk_cache' %}
              {%- if value == 'Disabled' %}
              disk_cache          = "Disable"
              {%- elif value == 'Enabled' %}
              disk_cache          = "Enable"
              {%- elif value == 'Unchanged' %}
              disk_cache          = "NoChange"
              {%- else %}
              disk_cache          = "{{ value }}"
              {%- endif %}
            {%- elif key == 'expand_to_available' %}
              expand_to_available = {{ value|lower }}
            {%- elif key == 'read_policy' %}
              {%- if value == 'Always Read Ahead' %}
              read_policy         = "ReadAhead"
              {%- elif value == 'No Read Ahead' %}
              read_policy         = "NoReadAhead"
              {%- else %}
              read_policy         = "{{ value }}"
              {%- endif %}
            {%- elif key == 'size' %}
              size                = {{ value }}
            {%- elif key == 'strip_size' %}
              {%- if 'KiB' in value %}
              strip_size          = {{ value }}.split('K')[0]
              {%- elif value == '1MiB' %}
              strip_size          = 1024
              {%- else %}
              strip_size          = {{ value }}
              {%- endif %}
            {%- elif key == 'write_policy' %}
              {%- if value == 'Always Write Back' %}
              write_policy        = "AlwaysWriteBack"
              {%- elif value == 'Write Back Good BBU' %}
              write_policy        = "WriteBackGoodBbu"
              {%- elif value == 'Write Through' %}
              write_policy        = "Write Through"
              {%- else %}
              write_policy        = "{{ value }}"
              {%- endif %}
            {%- endif %}
          {%- endfor %}
          }
        {%- endfor %}
        }
      {%- endif %}
    {%- endfor %}
      }
  {%- endfor %}
    }
{%- else %}
    drive_group = {}
{%- endif %}
{%- if m2_configuration %}
    m2_configuration = {
      "0" = {
        controller_slot = "{{ m2_configuration["controller_slot"] }}"
  {%- if m2_configuration["enable"] %}
        enable          = {{ m2_configuration["enable"]|lower }}
  {%- else %}
        enable          = true
  {%- endif %}
      }
    }
{%- else %}
    m2_configuration         = {}
{%- endif %}
{%- if single_drive_raid_configuration %}
    single_drive_raid_configuration = {
      "0" = {
  {%- for k, v in item.items()|sort %}
    {%- if k == 'access_policy' %}
      {%- if value == 'Read Only' %}
        access_policy = "ReadOnly"
      {%- elif value == 'Read Write' %}
        access_policy = "ReadWrite"
      {%- else %}
        access_policy = "{{ value }}"
      {%- endif %}
    {%- elif k == 'disk_cache' %}
      {%- if value == 'Disabled' %}
        disk_cache    = "Disable"
      {%- elif value == 'Enabled' %}
        disk_cache    = "Enable"
      {%- elif value == 'Unchanged' %}
        disk_cache    = "NoChange"
      {%- else %}
        disk_cache    = "{{ value }}"
      {%- endif %}
    {%- elif k == 'drive_slots' %}
        drive_slots   = "{{ drive_slots }}"
    {%- elif k == 'enable' %}
        enable        = {{ v|lower }}
    {%- elif key == 'read_policy' %}
      {%- if value == 'Always Read Ahead' %}
        read_policy   = "ReadAhead"
      {%- elif value == 'No Read Ahead' %}
        read_policy   = "NoReadAhead"
      {%- else %}
        read_policy   = "{{ value }}"
      {%- endif %}
    {%- elif key == 'strip_size' %}
      {%- if 'KiB' in value %}
        strip_size    = {{ value }}.split('K')[0]
      {%- elif value == '1MiB' %}
        strip_size    = 1024
      {%- else %}
        strip_size    = {{ value }}
      {%- endif %}
    {%- elif key == 'write_policy' %}
      {%- if value == 'Always Write Back' %}
        write_policy  = "AlwaysWriteBack"
      {%- elif value == 'Write Back Good BBU' %}
        write_policy  = "WriteBackGoodBbu"
      {%- elif value == 'Write Through' %}
        write_policy  = "WriteThrough"
      {%- else %}
        write_policy  = "{{ value }}"
      {%- endif %}
    {%- endif %}
  {%- endfor %}
      }
    }
{%- else %}
    single_drive_raid_configuration = {}
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }