
  "{{ name }}" = {
    description                  = ""
{%- if ethernet_switching_mode %}
    ethernet_switching_mode      = "{{ ethernet_switching_mode }}"
{%- else %}
    ethernet_switching_mode      = "end-host"
{%- endif %}
{%- if fc_switching_mode %}
    fc_switching_mode            = "{{ fc_switching_mode }}"
{%- else %}
    fc_switching_mode            = "end-host"
{%- endif %}
    mac_address_table_aging      = "{{ mac_address_table_aging }}"
    mac_aging_time               = 14500
    organization                 = "{{ org }}"
    udld_message_interval        = 15
    udld_recovery_action         = "reset"
    vlan_port_count_optimization = {{ vlan_port_count_optimization|lower }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags = []
{%- endif %}
  }
