
  "{{ name }}" = {
    description        = "{{ descr }}"
    local_min_severity = "{{ local_logging['file']['min_severity'] }}"
{%- if remote_clients %}
    remote_clients    = [
  {%- if not remote_logging['server1']['hostname'] == None %}
      {
        enabled      = {{ remote_logging['server1']['enable']|lower }}
        hostname     = "{{ remote_logging['server1']['hostname'] }}"
        min_severity = "{{ remote_logging['server1']['min_severity'] }}"
    {%- if not remote_logging['server1']['port'] == None %}
        port         = remote_logging['server1']['port']
    {%- else %}
        port         = 514
    {%- endif %}
    {%- if not remote_logging['server1']['protocol'] == None %}
        protocol     = remote_logging['server1']['protocol']
    {%- else %}
        protocol     = "udp"
    {%- endif %}
      },
  {%- else %}
      {
        enabled      = false
        hostname     = "0.0.0.0"
        min_severity = "warning"
        port         = 514
        protocol     = "udp"
      },
  {%- endif %}
  {%- if not remote_logging['server2']['hostname'] == None %}
      {
        enabled      = {{ remote_logging['server2']['enable']|lower }}
        hostname     = "{{ remote_logging['server2']['hostname'] }}"
        min_severity = "{{ remote_logging['server2']['min_severity'] }}"
    {%- if not remote_logging['server2']['port'] == None %}
        port         = remote_logging['server2']['port']
    {%- else %}
        port         = 514
    {%- endif %}
    {%- if not remote_logging['server2']['protocol'] == None %}
        protocol     = remote_logging['server2']['protocol']
    {%- else %}
        protocol     = "udp"
    {%- endif %}
      }
  {%- else %}
      {
        enabled      = false
        hostname     = "0.0.0.0"
        min_severity = "warning"
        port         = 514
        protocol     = "udp"
      }
  {%- endif %}
    ]
{%- else %}
    remote_clients    = [
      {
        enabled      = false
        hostname     = "0.0.0.0"
        min_severity = "warning"
        port         = 514
        protocol     = "udp"
      },
      {
        enabled      = false
        hostname     = "0.0.0.0"
        min_severity = "warning"
        port         = 514
        protocol     = "udp"
      }
    ]
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }