
  "{{ name }}" = {
    description      = "{{ descr }}"
    fan_control_mode = "{{ fan_control_mode }}"
    organization     = "{{ org }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags             = []
{%- endif %}
  }