
  "{{ name }}" = {
{%- if allow_tunneled_vkvm %}
    allow_tunneled_vkvm       = {{ allow_tunneled_vkvm|lower }}
{%- else %}
    enable_virtual_kvm        = false
{%- endif %}
    description               = "{{ descr }}"
{%- if enable_local_server_video %}
    enable_local_server_video = {{ enable_local_server_video|lower }}
{%- else %}
    enable_local_server_video = true
{%- endif %}
{%- if enable_video_encryption %}
    enable_video_encryption   = {{ enable_video_encryption|lower }}
{%- else %}
    enable_video_encryption   = false
{%- endif %}
{%- if enable_virtual_kvm %}
    enable_virtual_kvm        = {{ enable_virtual_kvm|lower }}
{%- else %}
    enable_virtual_kvm        = true
{%- endif %}
    maximum_sessions          = 4
{%- if remote_port %}
    remote_port               = {{ remote_port }}
{%- else %}
    remote_port               = 2068
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                      = []
{%- endif %}
  }