
  "{{ name }}" = {
    description     = "{{ descr }}"
    organization    = "{{ org }}"
{%- if uplink_trunking %}
    uplink_trunking = {{ uplink_trunking|lower }}
{%- else %}
    uplink_trunking = false
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags            = []
{%- endif %}
{%- if vsans %}
    vsans = {
  {%- for item in vsans %}
      "{{ loop.index }}" = {
    {%- for k, v in item.items() %}
      {%- if k == 'fcoe_vlan_id' %}
        fcoe_vlan_id   = {{ v }}
      {%- elif k == 'id' %}
        vsan_id        = {{ v }}
      {%- elif k == 'vsan_scope' %}
        vsan_scope     = "{{ v }}"
      {%- elif k == 'name' %}
        name           = "{{ v }}"
      {%- elif k == 'zoning' %}
        default_zoning = "{{ v }}"
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    }
{%- else %}
    vsans           = {}
{%- endif %}
  }