# Local .terraform directories
**/.terraform/*
**/.secret
**/terraform.tfvars
**/.terraform.lock.hcl

# Local Python Directories
**/intersight/*
**/Testing*/*
**/QA/*
**/PROD/*
__pycache__/
**/.DS_Store/*