# pip freeze -q -r requirements.txt
argparse
collection
dotmap
GitPython
git_status_checker
intersight_auth
ipaddress
jinja2
requests
numpy
openpyxl
ordered_set
phonenumbers
pytz
pyvmomi
simplejson
six
stdiomask
tabulate
validators