# pip freeze -q -r requirements.txt
argparse
collection
dotmap
GitPython
git_status_checker
intersight
ipaddress
jinja2
requests
numpy
openpyxl
ordered_set
phonenumbers
pytz
pyvmomi
simplejson
stdiomask
validators