# pip freeze -q -r requirements.txt
argparse
collection
dotmap
GitPython
git_status_checker
intersight_auth
ipaddress
jinja2
json_ref_dict
requests
numpy
openpyxl
ordered_set
phonenumbers
pyexpect
pytz
pyvmomi
simplejson
six
stdiomask
tabulate
validators