
  "{{ name }}" = {
    description        = "{{ descr }}"
    lacp_rate          = "{{ lacp_rate }}"
    organization       = "{{ org }}"
    suspend_individual = {{ suspend_individual|lower }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags               = []
{%- endif %}
  }
