
  "{{ name }}" = {
    description  = "{{ descr }}"
    enabled      = {{ enabled|lower }}
    organization = "{{ org }}"
    timezone     = "{{ timezone }}"
    ntp_servers = [
    {%- for v in ntp_servers %}
      "{{ v }}",
    {%- endfor %}
    ]
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }