
  "{{ name }}" = {
{%- if allocated_budget %}
    allocated_budget    = {{ allocated_budget }}
{%- else %}
    allocated_budget    = 0
{%- endif %}
    description         = "{{ descr }}"
{%- if power_profiling %}
    power_profiling     = "{{ power_profiling }}"
{%- else %}
    power_profiling     = "Enabled"
{%- endif %}
{%- if power_restore_state %}
    power_restore_state = "{{ power_restore_state }}"
{%- else %}
    power_restore_state = "LastState"
{%- endif %}
    redundancy_mode     = "{{ power_redundancy }}"
    organization        = "{{ org }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                = []
{%- endif %}
  }