
  "{{ name }}" = {
    description               = "{{ descr }}"
    enable_smtp               = {{ enable_smtp|lower }}
{%- if mail_alert_recipients %}
    mail_alert_recipients = [
  {%- for item in mail_alert_recipients %}
        "{{ item }}",
  {%- endfor %}
    ]
{%- else %}
    mail_alert_recipients     = []
{%- endif %}
    minimum_severity          = "{{ minimum_severity }}"
    organization              = "{{ org }}"
    smtp_alert_sender_address = "{{ smtp_alert_sender_address }}"
{%- if smtp_port %}
    smtp_port                 = {{ smtp_port }}
{%- else %}
    smtp_port                 = 25
{%- endif %}
    smtp_server_address       = "{{ smtp_server_address }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
  }