
  "{{ name }}" = {
{%- if action %}
    action            = "{{ action }}"
{%- else %}
    action            = "No-op"
{%- endif %}
    description       = "{{ descr }}"
    imc_access_policy = "{{ imc_access_policy }}"
    power_policy      = "{{ power_policy }}"
    serial_number     = "{{ serial_number }}"
    snmp_policy       = "{{ snmp_policy }}"
    thermal_policy    = "{{ thermal_policy }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags = []
{%- endif %}
  }