
  "{{ name }}" = {
{%- if action %}
    action                        = "{{ action }}"
{%- else %}
    action                        = "No-op"
{%- endif %}
{%- if adapter_configuration_policy %}
    adapter_configuration_policy  = "{{ adapter_configuration_policy }}"
{%- endif %}
{%- if static_uuid_address %}
    static_uuid_address        = "{{ static_uuid_address }}"
{%- endif %}
{%- if uuid_pool %}
    uuid_pool                  = "{{ uuid_pool }}"
{%- endif %}
{%- if bios_policy %}
    bios_policy                   = "{{ bios_policy }}"
{%- endif %}
{%- if boot_policy %}
    boot_order_policy             = "{{ boot_policy }}"
{%- endif %}
{%- if certificate_management_policy %}
    certificate_management_policy = "{{ certificate_management_policy }}"
{%- endif %}
{%- if device_connector_policies %}
    device_connector_policies     = "{{ device_connector_policies }}"
{%- endif %}
    description                   = "{{ descr }}"
{%- if imc_access_policy %}
    imc_access_policy             = "{{ imc_access_policy }}"
{%- endif %}
{%- if ipmi_over_lan_policy %}
    ipmi_over_lan_policy          = "{{ ipmi_over_lan_policy }}"
{%- endif %}
{%- if lan_connectivity_policy %}
    lan_connectivity_policy       = "{{ lan_connectivity_policy }}"
{%- endif %}
{%- if ldap_policies %}
    ldap_policies                 = "{{ ldap_policies }}"
{%- endif %}
{%- if local_user_policy %}
    local_user_policy             = "{{ local_user_policy }}"
{%- endif %}
{%- if network_connectivity_policies %}
    network_connectivity_policies = "{{ network_connectivity_policies }}"
{%- endif %}
{%- if ntp_policies %}
    ntp_policies                  = "{{ ntp_policies }}"
{%- endif %}
    organization                  = "{{ org }}"
{%- if persistent_memory_policies %}
    persistent_memory_policies    = "{{ persistent_memory_policies }}"
{%- endif %}
{%- if server_assignment_mode == 'Pool' %}
    resource_pool                 = "{{ resource_pool }}"
{%- endif %}
{%- if san_connectivity_policy %}
    san_connectivity_policy       = "{{ san_connectivity_policy }}"
{%- endif %}
{%- if sd_card_policy %}
    sd_card_policy                = "{{ sd_card_policy }}"
{%- endif %}
    serial_number                 = "{{ serial_number }}"
{%- if serial_over_lan_policy %}
    serial_over_lan_policy        = "{{ serial_over_lan_policy }}"
{%- endif %}
{%- if server_assignment_mode %}
    server_assignment_mode        = "{{ server_assignment_mode }}"
{%- else %}
    server_assignment_mode        = "None"
{%- endif %}
{%- if smtp_policies %}
    smtp_policies                 = "{{ smtp_policies }}"
{%- endif %}
{%- if snmp_policy %}
    snmp_policy                   = "{{ snmp_policy }}"
{%- endif %}
{%- if ssh_policies %}
    ssh_policies                  = "{{ ssh_policies }}"
{%- endif %}
{%- if storage_policy %}
    storage_policy                = "{{ storage_policy }}"
{%- endif %}
{%- if syslog_policy %}
    syslog_policy                 = "{{ syslog_policy }}"
{%- endif %}
{%- if target_platform %}
    target_platform               = "{{ target_platform|replace("-", "") }}"
{%- endif %}
{%- if virtual_kvm_policy %}
    virtual_kvm_policy            = "{{ virtual_kvm_policy }}"
{%- endif %}
{%- if virtual_media_policy %}
    virtual_media_policy          = "{{ virtual_media_policy }}"
{%- endif %}
{%- if ucs_server_profile_template %}
    ucs_server_profile_template   = "{{ ucs_server_profile_template }}"
{%- endif %}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags = []
{%- endif %}
  }