
  "{{ name }}" = {
    description     = "{{ descr }}"
    organization    = "{{ org }}"
{%- if target_platform == 'FI-Attached' %}
    target_platform = "FIAttached"
{%- else %}
    target_platform = "{{ target_platform }}"
{%- endif %}
    #___________________________
    #
    # Compute Configuration
    #___________________________
    bios_policy              = "{{ bios_policy }}"
    boot_order_policy        = "{{ boot_policy }}"
{%- if 'Attached' in target_platform %}
    uuid_pool                = "{{ uuid_pool }}"
{%- endif %}
{%- if target_platform == 'Standalone' %}
    persistent_memory_policy = "{{ persistent_memory_policy }}"
{%- endif %}
{%- if 'Attached' in target_platform %}
    power_policy             = "{{ power_policy }}"
{%- endif %}
    virtual_media_policy     = "{{ virtual_media_policy }}"
    #___________________________
    #
    # Management Configuration
    #___________________________
{%- if 'Attached' in target_platform %}
    certificate_management_policy = "{{ certificate_management_policy }}"
{%- endif %}
{%- if target_platform == 'Standalone' %}
    device_connector_policy       = "{{ device_connector_policy }}"
{%- endif %}
{%- if if 'Attached' in target_platform %}
    imc_access_policy             = "{{ imc_access_policy }}"
{%- endif %}
    ipmi_over_lan_policy          = "{{ ipmi_over_lan_policy }}"
{%- if target_platform == 'Standalone' %}
    ldap_policy                   = "{{ ldap_policy }}"
{%- endif %}
    local_user_policy             = "{{ local_user_policy }}"
{%- if target_platform == 'Standalone' %}
    network_connectivity_policy   = "{{ network_connectivity_policy }}"
{%- endif %}
{%- if target_platform == 'Standalone' %}
    ntp_policy                    = "{{ ntp_policy }}"
{%- endif %}
    serial_over_lan_policy        = "{{ serial_over_lan_policy }}"
{%- if target_platform == 'Standalone' %}
    smtp_policy                   = "{{ smtp_policy }}"
{%- endif %}
    snmp_policy                   = "{{ snmp_policy }}"
{%- if target_platform == 'Standalone' %}
    ssh_policy                    = "{{ ssh_policy }}"
{%- endif %}
    syslog_policy                 = "{{ syslog_policy }}"
    virtual_kvm_policy            = "{{ virtual_kvm_policy }}"
    #___________________________
    #
    # Storage Configuration
    #___________________________
    sd_card_policy = "{{ sd_card_policy }}"
    storage_policy = "{{ storage_policy }}"
    #___________________________
    #
    # Network Configuration
    #___________________________
{%- if target_platform == 'Standalone' %}
    adapter_configuration_policy = "{{ adapter_configuration_policy }}"
{%- endif %}
    lan_connectivity_policy      = "{{ lan_connectivity_policy }}"
    san_connectivity_policy      = "{{ san_connectivity_policy }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags = []
{%- endif %}
  }